<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.guestbook.dao.mapper.GuestBookMapper">


    <select id="list" resultType="com.demo.guestbook.entity.GuestBook"
            parameterType="com.demo.guestbook.entity.GuestBook">
        SELECT
               id,content,nick_name,head_portrait,gmt_create,gmt_modified
        from guestbook
        <where>
            <if test="id!=null and id!=0">
                and id = #{id}
            </if>
            <if test="content!=null and content!=''">
                and content LIKE CONCAT('%',#{content},'%')
            </if>
        </where>
    </select>

    <update id="update" parameterType="com.demo.guestbook.entity.GuestBook">
        update guestbook
        set
            content=#{content},
            gmt_modified=now()
        where id=#{id}
    </update>

    <insert id="save" parameterType="com.demo.guestbook.entity.GuestBook">
        insert guestbook
            (content,nick_name,head_portrait)
        values
            (#{content},#{nickName},#{headPortrait})
    </insert>

    <delete id="remove" parameterType="int">
        DELETE FROM guestbook WHERE id=#{id}
    </delete>

</mapper>
