<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.notice.dao.mapper.NoticeMapper">

    <select id="get" resultType="com.demo.notice.entity.Notice"
            parameterType="int">
        SELECT  id,title,content,creat_time from notice
        where id = #{id}
    </select>

</mapper>
